Moderator.json
{
  "name": "Moderator",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "de021384-91c3-4fc6-80fc-41c972584f0c",
        "responseMode": "lastNode",
        "options": {}
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -592,
        -96
      ],
      "id": "2364fb3d-b5f4-4861-84b5-934aed4af6d4",
      "name": "Webhook",
      "webhookId": "de021384-91c3-4fc6-80fc-41c972584f0c"
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are an automated backend content moderation AI for a community forum. Your sole job is to analyze incoming forum posts and categorize them with 100% accuracy into a final moderation status.\n\n[YOUR PROTOCOL]\n1. For every incoming user post, you MUST first use your 'Guideline' tool to retrieve the relevant moderation rules. Do not guess or rely on your internal training data.\n2. Cross-reference the user post strictly against the rules retrieved from your tool.\n\n[INCOMING USER POST TO EVALUATE]\nPost Content: {{ $json.body.post.content }}\n\n[CRITERIA]\n- \"deny\": Use this if the text explicitly matches any violations retrieved from the policy context (e.g., scams, illegal trade, hate speech, spam, pornography, anti-state subversion).\n- \"approve\": Use this if the post is completely benign, helpful, normal conversation, or a standard community question that violates zero policy rules.\n\n[STRICT OUTPUT RULES]\nYou MUST respond ONLY with a raw, valid JSON object matching the format below. Do not wrap it in markdown code blocks (such as ```json ... ```) or include conversational filler text.\n\nExpected Output Format:\n{\n  \"decision\": \"approve\" or \"deny\" \n}",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3.1,
      "position": [
        -288,
        -96
      ],
      "id": "800ee260-0c48-4759-b9d6-906f4a0736bf",
      "name": "AI Agent"
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "approve",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    },
                    "id": "9c7347e7-b9f0-4dbe-a1e9-838770f72182"
                  }
                ],
                "combinator": "and"
              }
            },
            {
              "conditions": {
                "options": {
                  "caseSensitive": true,
                  "leftValue": "",
                  "typeValidation": "strict",
                  "version": 3
                },
                "conditions": [
                  {
                    "id": "5a7aaefb-3af7-44e2-9c95-6374a0627d21",
                    "leftValue": "={{ $json.output }}",
                    "rightValue": "deny",
                    "operator": {
                      "type": "string",
                      "operation": "contains"
                    }
                  }
                ],
                "combinator": "and"
              }
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        64,
        -96
      ],
      "id": "6d42367d-6800-4e26-ad35-8a987e71c673",
      "name": "Switch"
    },
    {
      "parameters": {
        "method": "PATCH",
        "url": "=https://noverflow.io.vn/api/posts/{{ $('Webhook').item.json.body.post.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Token MySuperSecretAutomatedModeratorToken12345; userId=1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"posts\",\n    \"attributes\": {\n      \"isApproved\": true\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -208
      ],
      "id": "0fc9df0b-884b-4306-af6f-a0463298f87e",
      "name": "HTTP Request"
    },
    {
      "parameters": {
        "method": "DELETE",
        "url": "=https://noverflow.io.vn/api/posts/{{ $('Webhook').item.json.body.post.id }}",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Token MySuperSecretAutomatedModeratorToken12345; userId=1"
            },
            {
              "name": "Content-Type",
              "value": "application/json"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        -80
      ],
      "id": "d4061b81-35d1-4718-8286-aa675754d4bd",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "=https://noverflow.io.vn/api/flags",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "=Authorization",
              "value": "=Token MySuperSecretAutomatedModeratorToken12345; userId=1"
            },
            {
              "name": "=Content-Type",
              "value": "=application/json"
            }
          ]
        },
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"data\": {\n    \"type\": \"flags\",\n    \"attributes\": {\n      \"reason\": \"AI_MODERATION_UNCERTAIN\",\n      \"reasonDetail\": \"The AI moderator flag: Content is ambiguous and requires human evaluation.\"\n    },\n    \"relationships\": {\n      \"post\": {\n        \"data\": {\n          \"type\": \"posts\",\n          \"id\": \"{{ $('Webhook').item.json.body.post.id }}\"\n        }\n      }\n    }\n  }\n}",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.4,
      "position": [
        272,
        80
      ],
      "id": "05fcf9b9-2231-4c7a-b191-a579f0b06583",
      "name": "HTTP Request2"
    },
    {
      "parameters": {
        "model": "llama3.2:1b",
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.lmChatOllama",
      "typeVersion": 1,
      "position": [
        -432,
        112
      ],
      "id": "419f644c-1de4-47b4-97f0-c0c78a7c9cdc",
      "name": "Ollama Chat Model",
      "credentials": {
        "ollamaApi": {
          "id": "uiNMw6owIqgGyho3",
          "name": "Ollama account 2"
        }
      }
    },
    {
      "parameters": {
        "mode": "retrieve-as-tool",
        "toolDescription": "Context and guideline for AI",
        "pineconeIndex": {
          "__rl": true,
          "value": "context",
          "mode": "list",
          "cachedResultName": "context"
        },
        "options": {}
      },
      "type": "@n8n/n8n-nodes-langchain.vectorStorePinecone",
      "typeVersion": 1.3,
      "position": [
        -192,
        112
      ],
      "id": "ae7ebbd1-e099-4030-bd3d-7867ca04d678",
      "name": "Pinecone Vector Store",
      "credentials": {
        "pineconeApi": {
          "id": "vTvOsbbQ074x8d56",
          "name": "PineconeApi account"
        }
      }
    },
    {
      "parameters": {},
      "type": "@n8n/n8n-nodes-langchain.embeddingsOllama",
      "typeVersion": 1,
      "position": [
        -208,
        272
      ],
      "id": "29d5b7a1-54e2-4724-be48-7e2e8e065b3d",
      "name": "Embeddings Ollama",
      "credentials": {
        "ollamaApi": {
          "id": "uiNMw6owIqgGyho3",
          "name": "Ollama account 2"
        }
      }
    }
  ],
  "pinData": {},
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "AI Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "AI Agent": {
      "main": [
        [
          {
            "node": "Switch",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Switch": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Ollama Chat Model": {
      "ai_languageModel": [
        [
          {
            "node": "AI Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Pinecone Vector Store": {
      "ai_tool": [
        [
          {
            "node": "AI Agent",
            "type": "ai_tool",
            "index": 0
          }
        ]
      ]
    },
    "Embeddings Ollama": {
      "ai_embedding": [
        [
          {
            "node": "Pinecone Vector Store",
            "type": "ai_embedding",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1",
    "binaryMode": "separate"
  },
  "versionId": "77248cd0-7d63-4964-a3f5-248fdc96e482",
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "08049466f8917061f4ad35a5c9dd08e2741380d6a4510b33d652dc1e6c2e1554"
  },
  "id": "cl3xylv4qgmhnDkA",
  "tags": []
}